.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-text);
}

/* Reset default styles */
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
